<form [formGroup]="chatForm" >
  <div class="container">
    <div class="row">
      <div class="outer ">
        <div class="inner col-sm-12 col-md-12 col-lg-10">
          <!--Inner left ( chat name, logout button, search aria and users data-->
          <div class="inner-left">
            <!--Inner left header ( chat name, logout button-->
            <div class="inner-left-header">
              <label class="chat-name">HayChat</label>

              <button mat-raised-button class="logout-btn" (click)="logout()" >Logout</button>
            </div>
            <!--Inner left container( search aria and users data-->
            <div class="inner-left-container" >
              <input type="text" class="user-find" matInput placeholder="&nbsp;Find a user">
              <div class="user-object-outer" *ngIf="dataLoaded">
                <div *ngFor="let user of usersArr" class="user-object">
                  <div class="user-object-img">
                    <img style="width: 48px; height: 48px; border-radius: 24px;" src="{{user.profileUrl}}" alt="other-user-1">
                  </div>
                  <div class="user-object-data" (click)="createChat(userId.textContent, selectedName.textContent)">
                    <p #selectedName style="font-size: 18px; font-weight: 400; margin-bottom: 0; margin-top: 10px; color: rgba(236, 240, 241,0.8)">{{user.userName}}</p>
                    <p style="font-size: 12px; font-weight: 300; color: rgba(236, 240, 241,1.0)">last message</p>
                    <p #userId class="user-id">{{user.id}}</p>
                  </div>
                </div>
              </div>
              <div class="spinner" *ngIf="!dataLoaded">
                <mat-spinner [diameter]="50"></mat-spinner>
              </div>
              <!--Inner left user data-->


            </div>
          </div>

          <!--Inner right ( header, chat area, typing section )-->
          <div class="inner-right">
            <!--Inner right header-->
            <div class="inner-right-header">
              <!--Inner right ( header friend name )-->
              <div class="other-friend-data">
                <p #selectedUserName style="font-size: 18px; font-weight: 400; color: rgba(236, 240, 241,0.8) " >{{setVal()}}</p>
              </div>
              <!--Inner right ( header chat tools )-->
              <div class="chat-tools">
                <button style="background: none; border: none">
                  <mat-icon style="color: rgba(236, 240, 241,0.8)!important">
                    more_horiz
                  </mat-icon>
                </button>

              </div>
            </div>

            <!--Inner right chat display area-->
            <div class="inner-right-out" #scroll>

              <div *ngIf="chatLoaded" class="msg-outer">

                <!--Inner right incoming message-->
                <div class="incoming-msg" *ngFor="let m of incomingMessages">
                  <div class="incoming-img user-object-img">
                    <img style="width: 48px; height: 48px; border-radius: 24px;" src="{{selectedUserImage}}" alt="other-user-1">
                  </div>
                  <div class="incoming-data">
                    <p style="padding: 5px 5px 10px 5px; font-weight: 500">{{m.message}}</p>
                    <p style="bottom: 0; left: 0; margin: 0;padding-left: 5px; font-size: 8px; position: absolute">{{m.date}}</p>
                  </div>
                </div>

                <!--Inner right outgoing message-->
                <div class="outgoing-msg" *ngFor="let m of outgoingMessages">
                  <div class="outgoing-data">
                    <p style="padding: 5px 5px 10px 5px; font-weight: 500">{{m.message}}</p>
                    <p style="bottom: 0; right: 0; margin: 0;padding-right: 5px; font-size: 8px; position: absolute">{{m.date}}</p>
                  </div>
                  <div class="incoming-img user-object-img">
                    <img style="width: 48px; height: 48px; border-radius: 24px;" src="{{currentUserImage}}" alt="other-user-1">
                  </div>
                </div>

              </div>

              <mat-progress-bar *ngIf="!chatLoaded && userClick" mode="indeterminate"></mat-progress-bar>


            </div>

            <!--Inner right chat typing area-->
            <div class="inner-right-in" >
              <div class="typing-area">
                <textarea #msg formControlName="textarea" class="msg-typing-area" placeholder="Type a message"></textarea>
              </div>
              <div class="send-btn" (click)="sendMessage(msg.value)">
                <button mat-fab style="background-color: rgba(25, 42, 86, 0.9)" >
                  <mat-icon>send</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

