<form [formGroup]="signupForm" (ngSubmit)="signupWithEmail()">
  <div class="container">
    <div class="row">
      <div class="signup-outer">
        <div class="signup-form col-sm-12 col-md-8 col-lg-4">
          <label class="signup-label">Sign Up</label>
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>User Name</mat-label>
            <input type="text" matInput formControlName="userName" placeholder="Ex. John Due">
          </mat-form-field>
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
          </mat-form-field>
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
            <mat-icon matSuffix>visibility_off</mat-icon>
          </mat-form-field>

          <div class="image-upload">
            <div class="image-upload-outer" >
              <input (change)="select($event)" type="file" id="image" accept="image/*" class="profile-img" style="display: none">
              <label for="image" class="custom-file-label"><img width="55" height="55" src="https://img.icons8.com/sf-regular/48/000000/add-image.png" alt="add-image"/></label>
            </div>
            <p style="font-weight: 500; padding-left: 10px; font-size: 15px; color: rgba(0.88, 0.88, 0.88, 0.5)">Add an Avatar</p>
          </div>

          <button type="submit" [disabled]="signupForm.invalid" class="signup-join-btn" mat-raised-button color="primary">Join Now</button>
          <p class="signup-para">Already have an account? <a href="/login">Sign in</a>.</p>
        </div>
      </div>
    </div>
  </div>
</form>
